.actor-container, .genre-container {
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}

.actor-tag-container, .genre-tag-container {
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
	display: flex;
}

.actor-tag-container .actorTag, .genre-tag-container .genreTag {
	padding: 5px;
	border: 1px solid black;
	margin: 5px;
	display: flex;
	align-items: center;
	border-radius: 3px;
	background: lightgrey;
	cursor: default;
}

.actor-tag-container input, .genre-tag-container input {
	flex: 1;
	font-size: 16px;
	padding: 5px;
	border: 5;
}

.material-icons {
	font-size: 16px;
	margin-left: 5px;
}